In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
nb_version = "v2"
test_split = 0.3
scaler = MinMaxScaler()

In [3]:
df = pd.read_csv('../../data/raw/detection_data.csv')
df = df.drop(['Unnamed: 7','Unnamed: 8'], axis=1)
df = df.rename(columns={'Output (S)':'output'})
df

       output          Ia         Ib          Ic        Va        Vb        Vc
0           0 -170.472196   9.219613  161.252583  0.054490 -0.659921  0.605431
1           0 -122.235754   6.168667  116.067087  0.102000 -0.628612  0.526202
2           0  -90.161474   3.813632   86.347841  0.141026 -0.605277  0.464251
3           0  -79.904916   2.398803   77.506112  0.156272 -0.602235  0.445963
4           0  -63.885255   0.590667   63.294587  0.180451 -0.591501  0.411050
...       ...         ...        ...         ...       ...       ...       ...
11996       0  -66.237921  38.457041   24.912239  0.094421 -0.552019  0.457598
11997       0  -65.849493  37.465454   25.515675  0.103778 -0.555186  0.451407
11998       0  -65.446698  36.472055   26.106554  0.113107 -0.558211  0.445104
11999       0  -65.029633  35.477088   26.684731  0.122404 -0.561094  0.438690
12000       0  -64.598401  34.480799   27.250065  0.131669 -0.563835  0.432166

[12001 rows x 7 columns]

In [4]:
X = df.drop('output', axis=1)
Y = df['output']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_split, random_state=42, stratify=Y)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)
df_train = pd.concat([Y_train.reset_index(), X_train_scaled], axis=1)
df_test = pd.concat([Y_test.reset_index(), X_test_scaled], axis=1)
display(f'Train: {df_train.shape}', df_train.head(), f'Test: {df_test.shape}', df_test.head())

'Train: (8400, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0  11295       0  0.507946  0.485907  0.501921  0.979928  0.360361  0.183003
1   2656       1  0.628969  0.016439  0.466456  0.479691  0.630965  0.401669
2    166       0  0.535125  0.482859  0.479751  0.647257  0.834051  0.018610
3   9307       1  0.064725  0.928054  0.499483  0.505443  0.540413  0.471228
4  11780       0  0.530485  0.506889  0.458602  0.531000  0.915372  0.049988

'Test: (3601, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0   6137       0  0.526886  0.482403  0.489649  0.833690  0.657394  0.017071
1   5081       1  0.490184  0.167233  0.842303  0.155195  0.493709  0.873432
2   8976       1  0.078685  0.480408  0.934757  0.474444  0.540888  0.501965
3   5319       1  0.520196  0.630375  0.348021  0.911821  0.543148  0.058840
4   1390       1  0.145420  0.500711  0.474726  0.323123  0.937912  0.235689

In [5]:
# df_train.to_csv(f'../../data/processed/df_train_{nb_version}.csv')
# df_test.to_csv(f'../../data/processed/df_test_{nb_version}.csv')