In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [16]:
nb_version = "v4"
test_split = 0.2
scaler = StandardScaler()

In [17]:
df = pd.read_csv('../../data/raw/detection_data.csv')
df = df.drop(['Unnamed: 7','Unnamed: 8'], axis=1)
df = df.rename(columns={'Output (S)':'output'})
df

       output          Ia         Ib          Ic        Va        Vb        Vc
0           0 -170.472196   9.219613  161.252583  0.054490 -0.659921  0.605431
1           0 -122.235754   6.168667  116.067087  0.102000 -0.628612  0.526202
2           0  -90.161474   3.813632   86.347841  0.141026 -0.605277  0.464251
3           0  -79.904916   2.398803   77.506112  0.156272 -0.602235  0.445963
4           0  -63.885255   0.590667   63.294587  0.180451 -0.591501  0.411050
...       ...         ...        ...         ...       ...       ...       ...
11996       0  -66.237921  38.457041   24.912239  0.094421 -0.552019  0.457598
11997       0  -65.849493  37.465454   25.515675  0.103778 -0.555186  0.451407
11998       0  -65.446698  36.472055   26.106554  0.113107 -0.558211  0.445104
11999       0  -65.029633  35.477088   26.684731  0.122404 -0.561094  0.438690
12000       0  -64.598401  34.480799   27.250065  0.131669 -0.563835  0.432166

[12001 rows x 7 columns]

In [18]:
X = df.drop('output', axis=1)
Y = df['output']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_split, random_state=42, stratify=Y)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)
df_train = pd.concat([Y_train.reset_index(), X_train_scaled], axis=1)
df_test = pd.concat([Y_test.reset_index(), X_test_scaled], axis=1)
display(f'Train: {df_train.shape}', df_train.head(), f'Test: {df_test.shape}', df_test.head())

'Train: (9600, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0   5838       0  0.050606  0.219243 -0.320942 -1.360232  1.684628 -0.378794
1   7537       1  1.825039 -1.763182 -0.200615  0.016671 -0.931912  0.937934
2   2624       1 -0.522337 -1.780562 -0.266451 -0.143828  0.878640 -0.757496
3   3496       1  1.757554 -2.259983 -0.158522 -0.060336 -0.173094  0.237007
4   7634       0 -0.175755  0.130751  0.069845  1.005064 -1.476184  0.516909

'Test: (2401, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0   8405       0 -0.175295  0.152998  0.042296  0.481892 -1.570481  1.131395
1   6266       0 -0.018423  0.273829 -0.299069 -1.735688  1.307969  0.378650
2   1521       1  2.188253  0.256597 -0.118843 -0.529026 -0.032216  0.556701
3   7590       1  0.457547 -0.513066  0.037661  0.081702 -1.447867  1.401983
4    249       0  0.040440  0.191124 -0.282299 -1.519506  1.544327 -0.077430

In [19]:
# df_train.to_csv(f'../../data/processed/df_train_{nb_version}.csv')
# df_test.to_csv(f'../../data/processed/df_test_{nb_version}.csv')