In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
nb_version = "v3"
test_split = 0.3
scaler = StandardScaler()

In [3]:
df = pd.read_csv('../../data/raw/detection_data.csv')
df = df.drop(['Unnamed: 7','Unnamed: 8'], axis=1)
df = df.rename(columns={'Output (S)':'output'})
df

       output          Ia         Ib          Ic        Va        Vb        Vc
0           0 -170.472196   9.219613  161.252583  0.054490 -0.659921  0.605431
1           0 -122.235754   6.168667  116.067087  0.102000 -0.628612  0.526202
2           0  -90.161474   3.813632   86.347841  0.141026 -0.605277  0.464251
3           0  -79.904916   2.398803   77.506112  0.156272 -0.602235  0.445963
4           0  -63.885255   0.590667   63.294587  0.180451 -0.591501  0.411050
...       ...         ...        ...         ...       ...       ...       ...
11996       0  -66.237921  38.457041   24.912239  0.094421 -0.552019  0.457598
11997       0  -65.849493  37.465454   25.515675  0.103778 -0.555186  0.451407
11998       0  -65.446698  36.472055   26.106554  0.113107 -0.558211  0.445104
11999       0  -65.029633  35.477088   26.684731  0.122404 -0.561094  0.438690
12000       0  -64.598401  34.480799   27.250065  0.131669 -0.563835  0.432166

[12001 rows x 7 columns]

In [6]:
X = df.drop('output', axis=1)
Y = df['output']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=test_split, random_state=42, stratify=Y)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)
df_train = pd.concat([Y_train.reset_index(), X_train_scaled], axis=1)
df_test = pd.concat([Y_test.reset_index(), X_test_scaled], axis=1)
display(f'Train: {df_train.shape}', df_train.head(), f'Test: {df_test.shape}', df_test.head())

'Train: (8400, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0  11295       0  0.021636 -0.011753 -0.025728  1.656374 -0.510284 -1.115444
1   2656       1  0.586400 -2.360192 -0.235266 -0.126077  0.465125 -0.351109
2    166       0  0.148467 -0.026999 -0.156712  0.470996  1.197159 -1.690071
3   9307       1 -2.046694  2.200021 -0.040130 -0.034315  0.138725 -0.107970
4  11780       0  0.126816  0.093206 -0.281670  0.056748  1.490284 -1.580388

'Test: (3601, 8)'

   index  output        Ia        Ib        Ic        Va        Vb        Vc
0   6137       0  0.110021 -0.029281 -0.098232  1.135295  0.560390 -1.695449
1   5081       1 -0.061254 -1.605868  1.985340 -1.282324 -0.029624  1.297914
2   8976       1 -1.981546 -0.039258  2.531585 -0.144773  0.140436 -0.000529
3   5319       1  0.078802  0.710927 -0.935010  1.413691  0.148584 -1.549449
4   1390       1 -1.670122  0.062302 -0.186400 -0.683960  1.571532 -0.931281

In [5]:
# df_train.to_csv(f'../../data/processed/df_train_{nb_version}.csv')
# df_test.to_csv(f'../../data/processed/df_test_{nb_version}.csv')